.copyButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  background-color: rgba(0, 204, 255, 0);
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.copyButton:hover {
  background-color: rgba(0, 204, 255, 0.99);
  transition: background-color 0.4s ease-in-out;
}
