.copyButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(46, 80, 88, 0.2);
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.copyButton:hover {
  background-color: rgba(46, 80, 88, 0.99);
  font-size: 1rem;
  font-weight: bold;
}
