.container {
  width: 90vw;
  max-width: 768px;
  position: relative;
  margin-bottom: 1rem;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 21%;
}

.logo {
  object-fit: contain;
}

@media (prefers-color-scheme: light) {
  .logo {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}
